<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>625022967775-cc3pjkmhslh17ug6c4r6dg35k26s9e4b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625022967775-cc3pjkmhslh17ug6c4r6dg35k26s9e4b</string>
	<key>API_KEY</key>
	<string>AIzaSyB4awsiDi2rHIWyj4dX67XDTKcw-UrIwmA</string>
	<key>GCM_SENDER_ID</key>
	<string>625022967775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tecsup.Snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-abbeb</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-abbeb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625022967775:ios:78e91e0d83b2a78b</string>
	<key>DATABASE_URL</key>
	<string>https://snapchat-abbeb.firebaseio.com</string>
</dict>
</plist>